html, body{
    height: 100%;
}

body{
    background-color: rgb(255, 204, 194);
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    color: #4c4a4a;
}

.list-wrapper{
    background-color: white;
    width: 90%;
    max-width: 500px;
    max-height: 400px ;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.599);
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item{
    border-bottom: solid 1px #b6b1b1 ;
    display: flex;
    padding: 16px;
}

.list-item__image img{
    width: 80px;
    border-radius: 50%;
}

.list-item__content{
    padding: 0 20px;
    flex-grow: 1;
}

.list-item__name{
    font-size: 20px;
    color: #383737;
    margin: 0;
}

.list-item__email{
    margin: 5px 0 0;
    color: #7a7878;
}


.list-item:hover{
    background-color: rgb(251, 232, 229);
}

.list-item__action{
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
}

.list-item:hover .list-item__action{
    opacity: 0.5;
}

